body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    background-image: url("mb-background-2000.jpg");
      }

.logo {
    padding: 10px;
    opacity: 0.8;
}

ul li {
    padding: 3px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

table {
    font-family: 'Cabin', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
 
.demo {
    background-color: white;
}

.line {
    border : 5px solid black;
}

@media (max-width: 767px) { 

.test {
    padding-top: 30px;
    width:100% ;
}
}
 
@media (min-width: 768px) and (max-width: 991px) { 

    .test1 {
        margin-left: 25%;
 
}
}

@media(min-width: 992px) {

    .test2 {
        opacity: .85;
}

    .test2:hover {
        opacity: 1;
}
}

.fa {
    font-size:24px;
    padding:5px;
}
